<div class="col-xs-11 col-xs-offset-1 about">
<h1>Louisms</h1>
<h2>A Collection of Quotes and Tributes</h2>
<div class="col-xs-12">
		<%= image_tag 'lou4.jpg', :class => 'img-responsive' %>
  		</div>