<div class="booyah-box col-xs-10 col-xs-offset-1">
<h1><%= @tribute.saying %></h1>
<i><%= @tribute.contributor %></i>
<br />
<div class="pull-right">
	<%= link_to 'Edit', edit_tribute_path(@tribute), :class => 'btn btn-primary' %>
	<%= link_to 'Delete', tribute_path(@tribute), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'},:class => 'btn btn-danger' %>
</div>
</div>